button {
    background-color: green;
    color: white;
    border: 4px solid #006400;
    border-radius: 12px;
    text-align: center;
    margin: 0 10px 10px 0; 
}
.gridContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px auto auto auto;
    gap: 10px;
    padding: 10px;
    align-items: center;
}
#logo{
    border: black 2px solid;
    grid-column: 1 / 2;
    grid-row: 1 / 2; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}


h1{
   color: lightgreen;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 4px solid white;
    grid-column: 2 / span 3;
    grid-row: 1 / 2; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

body{
    background-color: rgb(75, 89, 107);
}

div{
    text-align: center;
    color: white;
}

#gameArea{
   grid-column: 2 / span 3;
    grid-row: 2 / span 3;
    text-align: center;
    margin-top: 0;

}

#startBtnDiv{
    text-align: center;
    grid-column: 2 / span 3;
    grid-row: 2;
    margin-bottom: 0;
    align-content: start;
}

.button-active {
    background: #90ee90 !important; 
    transition: background 0.2s;
}

nav {
   float: left;
    font-weight: bold;
    padding: 1.5em;
    font-size: 120%;
    width: 160px;
    color: black;
    text-decoration: none;
}
nav a {
    color: rgb(47, 25, 159);
    text-decoration: none;
}
nav ul {
    justify-content: space-between;
    display: flex;
    row-gap: 2em;
    flex-direction: column;
    align-content: center;
    list-style: none;
}